﻿@model Champions.Models.Characters.DataCharacter

<div>
    <h4>DataCharacter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stats)
        </dt>
        <dd>
            Strength: @Html.DisplayFor(model => model.Stats[0]),
            Defense: @Html.DisplayFor(model => model.Stats[1]),
            Constitution: @Html.DisplayFor(model => model.Stats[2]),
            Initiative: @Html.DisplayFor(model => model.Stats[3]),
            Speed: @Html.DisplayFor(model => model.Stats[4])
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquippedArmor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquippedArmor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquippedWeapon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquippedWeapon.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gold)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "CharacterList")
</p>
