﻿@model Champions.Models.Characters.DataCharacter


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Character</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Level)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.Level)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CharacterClass)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.CharacterClass)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Stats)
                    </dt>
                    <dd>
                        Strength: @Html.TextBoxFor(model => model.Stats[0], new { @class = "Stat"}),
                        Defense: @Html.TextBoxFor(model => model.Stats[1], new { @class = "Stat" }),
                        Constitution: @Html.TextBoxFor(model => model.Stats[2], new { @class = "Stat" }),
                        Initiative: @Html.TextBoxFor(model => model.Stats[3], new { @class = "Stat" }),
                        Speed: @Html.TextBoxFor(model => model.Stats[4], new { @class = "Stat" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EquippedArmor)
                    </dt>
                    <dd>
                        @Html.DropDownList("ArmorList", (IEnumerable<SelectListItem>)ViewData["Armors"])
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EquippedWeapon)
                    </dt>
                    <dd>
                        @Html.DropDownList("WeaponList", (IEnumerable<SelectListItem>)ViewData["Weapons"])
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gold)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.Gold)
                    </dd>
                </dl>

                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "CharacterList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
