﻿@{
    ViewBag.Title = "Home Page";
}

<div class="PageTitle">
    <h1>Champions</h1>
    <p class="Description">Champions is a game similar to the well-known tabletop RPG called 'Dungeons & Dragons', though greatly simplified and free.</p>
</div>
<div class="Buttons">
    <div class="FightButton">
        @Html.ActionLink("Battle", "BattleSetup", "Battle")
    </div>
    <br />
    @Html.ActionLink("Characters", "CharacterList", "Character")
    <br />
    @Html.ActionLink("Rules", "RulesPage", "Home")
</div>

